* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
}
#container{
    width:100%;
    height:auto;
}
.nav-main-top {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

    .nav-main-top ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .nav-main-top li {
        text-align: center;
        padding: 0 5px;
        font-size:20px;
    }

    .nav-main-top .group-1 li,
    .nav-main-top .group-2 li {
        flex-grow: 1;
       
    }

    .nav-main-top .logo li {
        flex-grow: 2;
    }


.sreach-room {
    margin-top: 20px;
    width: 90%;
    height: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}



    .Tim-kiem{
        margin-top:20px;
        margin-right:10px;
    }

    .input-group .form-control {
        width: 80%; /* Adjust the value as needed */
    }





#infor-hotel {
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row; /* Sử dụng row thay vì column */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.img-hotel {
    flex-grow: 0;
    align-self: stretch;
    height: auto;
    box-shadow: 1px 1px 5px grey;
}

.content-infor-hotel {
    background-color:white;
    height: auto;
    flex-grow: 3;
    align-self: stretch;
    box-shadow: 1px 1px 5px grey;
    padding: 20px; /* Thêm padding để tạo khoảng trống xung quanh nội dung */
    font-weight:450;
    line-height:20px;
}

#room-infor {
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row; /* Sử dụng row thay vì column */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    display:none;
}

.room-detail {
    flex-grow: 9;
    background-color: white;
    margin-right: 20px;
    align-self: stretch;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:20px;
}

    .room-detail img {
        width: 300px;
        height: 250px;
        object-fit: cover;
    }

.room-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}

.room-detail .btn {
    margin-top: 20px;
}

.infor-detail {
    height: auto;
    width: 100%;
    background-color: white;
    align-self: stretch;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
   margin-bottom:20px;
    
    
}

.infor-booked-room {
    padding: 5px 30px;
}

.button_bookroom {
    width: 80%;
    margin-top: 10px;
    margin-left: 40px;
}

#TongTien {
    color: #FFCA2C;
    font-weight:600;
    direction:ltr;
}
#btn_DatPhong{
    display:none;
}
#Report_Phong {
    margin: 20px auto;
    color: black;
    width: 90%;
    min-height: 50px;
    border-radius: 5px;
    background-color: white;
 
}
.report_Phong_Text {
    padding:12px;
}


/*nav menu*/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

    nav .logo img {
        vertical-align: middle;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

        nav ul li {
            margin: 0 5px;
        }

            nav ul li a {
                color: #111;
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 5px;
                letter-spacing: 1px;
                transition: all 0.3s ease;
            }

                nav ul li a.active,
                nav ul li a:hover {
                    color: #4885ED;
                    background: #fff;
                }

    nav .menu-btn i {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 950px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

        nav ul li a {
            width: 100%;
            margin-left: -100%;
            display: block;
            font-size: 20px;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

    #click:checked ~ ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}

    .content div {
        font-size: 40px;
        font-weight: 700;
    }