* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
}
#container{
    width:100%;
    height:auto;
}
.nav-main-top {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

    .nav-main-top ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .nav-main-top li {
        text-align: center;
        padding: 0 5px;
        font-size:20px;
    }

    .nav-main-top .group-1 li,
    .nav-main-top .group-2 li {
        flex-grow: 1;
       
    }

    .nav-main-top .logo li {
        flex-grow: 2;
    }
.group-1{
    margin-left:200px;
}
.group-2{
    margin-right:230px;
}

.sreach-room {
    margin-top: 20px;
    width: 90%;
    height: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}



    .Tim-kiem{
        margin-top:20px;
        margin-right:10px;
    }

    .input-group .form-control {
        width: 80%; /* Adjust the value as needed */
    }





#infor-hotel {
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row; /* Sử dụng row thay vì column */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.img-hotel {
    flex-grow: 0;
    align-self: stretch;
    height: auto;
    box-shadow: 1px 1px 5px grey;
}

.content-infor-hotel {
    background-color:white;
    height: auto;
    flex-grow: 3;
    align-self: stretch;
    box-shadow: 1px 1px 5px grey;
    padding: 20px; /* Thêm padding để tạo khoảng trống xung quanh nội dung */
    font-weight:450;
    line-height:20px;
}

#room-infor {
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row; /* Sử dụng row thay vì column */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.room-detail {
    flex-grow: 9;
    background-color: white;
    margin-right: 20px;
    align-self: stretch;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:20px;
}

    .room-detail img {
        width: 30%;
        height: auto;
    }

.room-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}

.room-detail .btn {
    margin-top: 20px;
}

.infor-detail {
    height: auto;
    width: 100%;
    background-color: white;
    align-self: stretch;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
   
    
    
}

.infor-booked-room {
    padding: 5px 30px;
}

.button_bookroom {
    width: 80%;
    margin-top: 10px;
    margin-left: 40px;
}
.img_detail_room {
    width: 100px; /* or any size you want */
    height: 100px; /* or any size you want */
    object-fit: cover;
}
#TongTien {
    color: #FFCA2C;
    font-weight:600;
    direction:ltr;
}
#btn_DatPhong{
    display:none;
}