    @model List<QuanLyKhachSan.Models.Phong>
@inject ApplicationDbContext _db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/CssDatPhong/cssDatPhong.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container">

        <div>
            <button type="button" class="btn btn-light">Tất cả</button>
            <button type="button" class="btn btn-light">Trống</button>
            <button type="button" class="btn btn-light">Đã đặt</button>
        </div>
        <div id="totalRoom" class="container">
            <div class="row">
                @foreach (var phong in Model)
                {
                    <div class="col-md-2 ml-5">
                        <div class="room">
                            <img src="https://th.bing.com/th/id/R.efd003d87199ce8c240aa1fd56acc44b?rik=pAFLUJIULbXf%2bg&pid=ImgRaw&r=0" alt="" class="image_room mt-2">

                            @{
                                var currentDate = DateTime.Now;
                                var isReservationApproved = _db.DatPhong.Any(dp =>
                                dp.MaPhong == phong.MaPhong &&
                                dp.TinhTrang == "Đã được duyệt" &&
                                dp.NgayNhan <= currentDate &&
                                dp.NgayTra > currentDate
                                );
                            }

                            @if (isReservationApproved)
                            {
                                <span class="trangthai text-white" style="background-color:red;" >Đã được thuê</span>
                            }
                            else
                            {
                                <span class="trangthai">Trống</span>
                            }

                            <span class="maphong">@phong.MaPhong</span>
                            <span class="loaiphong">Phòng Sang Trọng </span>
                            <div class="gia_theo_gio_div">
                                <span class="title_giatheogio">Giá theo giờ: </span>
                                <span class="content_giatheogio text-right">200000</span>
                            </div>
                            <div class="gia_theo_ngay_div">
                                <span class="title_giatheongay">Giá theo ngày: </span>
                                <span class="content_giatheongay">3000000</span>
                            </div>
                            <div class="dropdown icon_3cham ">
                                <button type="button" data-toggle="dropdown" class="btn_threedot">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="showSearchBar()">Đặt phòng</a>
                                    <a class="dropdown-item" onclick="openPopupThanhToan()">Thanh toán</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="popup-overlay" id="popupOverlay">
            <div class="popup-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Đặt/Nhận phòng nhanh</h2>
                        <i class="fa-solid fa-xmark close-icon" onclick="closePopup()"></i>
                    </div>

                    <div class="popup-kh col-md-12" id="searchBar">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Tên khách hàng">
                        <i class="fa fa-circle-plus" onclick="showForm()"></i>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="gioiTinh">Loại phòng</label>
                            <select class="form-control" name="gioiTinh" id="gioiTinh">
                                <option value="Nam">P.101 - Đôi</option>
                                <option value="Nữ">P.102 - Đơn</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="hinhThuc">Hình thức</label>
                            <select class="form-control" name="hinhThuc" id="hinhThuc">
                                <option value="Ngay">Ngày</option>
                                <option value="Gio">Giờ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="giaPhong">Giá phòng</label>
                            <input type="text" class="form-control" name="giaPhong" id="giaPhong" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ngayNhanPhong">Ngày nhận phòng</label>
                            <input type="date" class="form-control" name="ngayNhanPhong" id="ngayNhanPhong" required>
                        </div>
                        <div class="form-group">
                            <label for="ngayTraPhong">Ngày trả phòng</label>
                            <input type="date" class="form-control" name="ngayTraPhong" id="ngayTraPhong" required>
                        </div>
                        <div class="form-group">
                            <label for="tongNguoiLon">Tổng số người lớn</label>
                            <input type="text" class="form-control" name="tongNguoiLon" id="tongNguoiLon" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="tongTreEm">Tổng số trẻ em</label>
                            <input type="text" class="form-control" name="tongTreEm" id="tongTreEm" required>
                        </div>
                        <div class="form-group">
                            <label for="tongGia">Tổng giá</label>
                            <input type="text" class="form-control" name="tongGia" id="tongGia" required>
                        </div>
                        <div class="form-group">
                            <label for="khachTraTruoc">Khách trả trước</label>
                            <input type="text" class="form-control" name="khachTraTruoc" id="khachTraTruoc" required>
                        </div>
                    </div>
                    <button class="btn btn-success">Nhận phòng</button>
                </div>
            </div>
        </div>

        <div class="popup" id="formPopup">
            <h2>Thêm mới khách hàng</h2>
            <i class="fa fa-times close-icon" onclick="closeForm()"></i>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Họ tên</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="gioiTinh">Giới tính</label>
                        <select class="form-control" name="gioiTinh" id="gioiTinh">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cccd">CMND/CCCD</label>
                        <input type="text" class="form-control" name="cccd" id="cccd" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" name="phone" id="phone" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="ngaySinh">Ngày sinh</label>
                        <input type="date" class="form-control" name="ngaySinh" id="ngaySinh" required>
                    </div>
                    <div class="form-group">
                        <label for="diaChi">Địa chỉ</label>
                        <input type="text" class="form-control" name="diaChi" id="diaChi" required>
                    </div>
                </div>
                <button class="btn btn-secondary cancel" onclick="closeForm()">Bỏ qua</button>
                <button class="btn btn-success save">Lưu</button>
            </div>
        </div>



        <div class="popupThanhToan" id="paymentPopup">
            <div class="header">
                <h1>Thanh toán phòng 101</h1>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>Mã đặt phòng</th>
                        <td>DP001</td>
                    </tr>
                    <tr>
                        <th>Loại phòng</th>
                        <td>P0001-Phòng đơn</td>
                    </tr>
                    <tr>
                        <th>Số người</th>
                        <td>1 người lớn - 2 trẻ em</td>
                    </tr>
                    <tr>
                        <th>Thời gian nhận</th>
                        <td>25/11/2023 14:00</td>
                    </tr>
                    <tr>
                        <th>Thời gian trả</th>
                        <td>04/12/2023 17:04</td>
                    </tr>
                    <tr>
                        <th>Tên khách hàng</th>
                        <td>Nguyễn văn a</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>0123123123</td>
                    </tr>
                </table>
                <h2>Thông tin dịch vụ</h2>
                <table>
                    <tr>
                        <th>#</th>
                        <th>Mã DV</th>
                        <th>Tên DV</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>DV001</td>
                        <td>Đưa đón sân bay</td>
                        <td>2</td>
                        <td>60.000đ</td>
                    </tr>
                </table>
                <h2>Thông tin thanh toán</h2>
                <table>
                    <tr>
                        <th>Tổng tiền phòng</th>
                        <td>2.000.000 VNĐ</td>
                    </tr>
                    <tr>
                        <th>Tổng tiền dịch vụ</th>
                        <td>60.000 VNĐ</td>
                    </tr>
                    <tr>
                        <th>Tổng tiền</th>
                        <td id="total">2.060.000 VND</td>
                    </tr>
                    <tr>
                        <th>Tiền thanh toán</th>
                        <td><input type="number" placeholder="Nhập số tiền khách đưa" id="money"></td>
                    </tr>
                </table>
                <div class="button-group">
                    <button onclick="closePopupThanhToan()">Đóng</button>
                    <button onclick="confirmPayment()">Thanh toán</button>
                </div>
            </div>
        </div>
        <div class="overlayThanhToan" id="overlayThanhToan" onclick="closePopupThanhToan()"></div>


    </div>
  <script>
        function showSearchBar() {
            document.getElementById("popupOverlay").style.display = "flex";
        }

        function showForm() {
            var formPopup = document.getElementById("formPopup");
            formPopup.style.display = "block";

            var closeButton = document.createElement("i");
            closeButton.className = "fa fa-times close-icon";
            closeButton.onclick = function () {
                formPopup.style.display = "none";
            };

            formPopup.appendChild(closeButton);
        }

        function closeForm() {
            document.getElementById("formPopup").style.display = "none";
        }

        function closePopup() {
            document.getElementById("popupOverlay").style.display = "none";
        }

        function openPopupThanhToan() {
            document.getElementById("paymentPopup").style.display = "block";
            document.getElementById("overlayThanhToan").style.display = "block";
        }

        function closePopupThanhToan() {
            document.getElementById("paymentPopup").style.display = "none";
            document.getElementById("overlayThanhToan").style.display = "none";
        }
    </script>
</body>
</html>