<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/CssDatPhong/cssDatPhong.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <button type="button" class="btn btn-light">Tất cả</button>
        <button type="button" class="btn btn-light">Trống</button>
            <button type="button" class="btn btn-light">Đã đặt</button>
        </div>
        <div id="totalRoom" class="container">
            <div class="row">
                <div class="col-md-2 ml-4">
                    <div class="room ">
                        <img src="~/Images/AnhTest.jpg" alt="" class="image_room mt-2">
                        <span class="trangthai ">TRỐNG</span>
                        <span class="maphong">P001</span>
                        <span class="loaiphong ">Phòng Sang Trọng </span>
                        <p class="giatheogio">Giá theo giờ : 2000000
                        </p>
                        
                        <p class="giatheongay">
                            Giá theo ngày : 300000
                        </p>
                    </div>

                </div>



                <div class="col-md-2 ml-4">
                    <div class="room ">
                        <img src="~/Images/AnhTest.jpg" alt="" class="image_room mt-2">
                        <span class="trangthai ">TRỐNG</span>
                        <span class="maphong">P001</span>
                        <span class="loaiphong ">Phòng Sang Trọng </span>
                    </div>
                </div>

                <div class="col-md-2 ml-4">
                    <div class="room ">
                        <img src="~/Images/AnhTest.jpg" alt="" class="image_room mt-2">
                        <span class="trangthai ">TRỐNG</span>
                        <span class="maphong">P001</span>
                        <span class="loaiphong ">Phòng Sang Trọng </span>
                    </div>
                </div>
                <div class="col-md-2 ml-4">
                    <div class="room ">
                        <img src="~/Images/AnhTest.jpg" alt="" class="image_room mt-2">
                        <span class="trangthai ">TRỐNG</span>
                        <span class="maphong">P001</span>
                        <span class="loaiphong ">Phòng Sang Trọng </span>
                    </div>
                </div>
                <div class="col-md-2 ml-4">
                    <div class="room ">
                        <img src="~/Images/AnhTest.jpg" alt="" class="image_room mt-2">
                        <span class="trangthai ">TRỐNG</span>
                        <span class="maphong">P001</span>
                        <span class="loaiphong ">Phòng Sang Trọng </span>
                    </div>
                </div>
                <div class="col-md-2 ml-4">
                    <div class="room ">
                        <img src="~/Images/AnhTest.jpg" alt="" class="image_room mt-2">
                        <span class="trangthai ">TRỐNG</span>
                        <span class="maphong">P001</span>
                        <span class="loaiphong ">Phòng Sang Trọng </span>
                        <span>
                            Giá theo giờ : 2000000
                        </span><span>
                            Giá theo ngày : 300000
                        </span>
                    </div>
                </div>


                <!-- Thêm các cột khác tùy số lượng phòng bạn có -->
            </div>
        </div>


</div>
</body>
</html>