@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/CssLogin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <section style="display:flex;">
        <div class="form-box">
            <div class="form-value">
                <form id="loginForm" method="post" asp-controller="Access" asp-action="Login" onsubmit="return handleLogin()">
                    <img src="~/css/Screenshot_7_preview_rev_1.png" alt="">
                    <h2>ĐĂNG NHẬP</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" required name="TenDangNhap">
                        <label>Email/Số điện thoại</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="MatKhau" required>
                        <label>Mật khẩu</label>
                    </div>
                    <div class="forget">
                        <label style="display: contents;">
                            <input type="checkbox">Nhớ mật khẩu <a style="margin-left: 75px;" href="javascript:void(0);" onclick="showPopupQuenMK()">Quên mật khẩu?</a>
                        </label>
                    </div>
                    <button type="submit" value="Login" style="border-radius:5px;">Đăng nhập</button>
                    <div class="register">
                        <p>Bạn chưa có tài khoản? <a asp-action="GiaoDienDangKy" asp-controller="Access">Đăng ký</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Thêm thông báo SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <div class="overlayQuenMK" id="overlayQuenMK">
        <div class="popupQuenMK">
            <span class="close-btnQuenMK" onclick="hidePopup()">X</span>
            <h2>QUÊN MẬT KHẨU</h2>
            <p>Nhập Email của bạn để kiểm tra và lấy lại mật khẩu.</p>
            <br>
            <form id="emailForm" method="post">
                <div class="form-group">
                    <label for="emailQuenMk">Email:</label>
                    <input type="email" name="Email" class="form-control" id="emailQuenMk" required>
                </div>
                <button type="button" class="btn btn-primary" id="btnGuiMail">Gửi mã</button>
            </form>
            <!-- Add this section for confirmation code -->
            <div id="confirmationSection" style="display: none;">
                <div class="form-group">
                    <label for="confirmationCode">Mã xác nhận:</label>
                    <input type="text" name="ConfirmationCode" class="form-control" id="confirmationCode" required>
                </div>
                <button type="button" class="btn btn-primary" id="btnXacNhan">Xác nhận</button>
            </div>
            <div id="PasswordSection" style="display: none;">
                <div class="form-group">
                    <label for="passwordMoi">Mật khẩu mới:</label>
                    <input type="password" name="Password" class="form-control" id="passwordMoi" required>
                </div>
                <div class="form-group">
                    <label for="confirmPasswordMoi">Nhập lại mật khẩu:</label>
                    <input type="password" name="ConfirmPassword" class="form-control" id="confirmPasswordMoi" required>
                </div>
                <button type="button" class="btn btn-primary" id="btn_LuuMatKhau">Xác nhận</button>
            </div>
        </div>
    </div>


    <script>
        function showPopupQuenMK() {
            document.getElementById("overlayQuenMK").style.display = "flex";
        }

        function hidePopup() {
            document.getElementById("overlayQuenMK").style.display = "none";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/JsAccess.js">
      
    </script>
    <script>
        function showSwalToast(icon, title) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: icon,
                title: title
            });
        }
        var swalIcon = '@TempData["SwalIcon"]';
        var swalTitle = '@TempData["SwalTitle"]';

        if (swalIcon && swalTitle) {
            showSwalToast(swalIcon, swalTitle);
        }

    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
