@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h1>Login</h1>
        <input type="text" placeholder="Tên đăng nhập" name="TenDangNhap" />
        <input type="password" placeholder="Mật khẩu" name="MatKhau" />
     
        <button type="submit">
            Login
        </button>
        @if (ViewData["ValidateMessage"] != null)
        {
            <br/>
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
