body {
    background-color: #F6F6F6;
}
.container {
    max-width: 100%; /* Đảm bảo .container không vượt quá chiều rộng của màn hình */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.room {
    margin-top: 10px;
    height: 19rem;
    width: 225px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #FFFFFF;
}
.image_room {
    width: 93%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items:center;
    margin-left:8px;
}
.trangthai {
    position: relative;
    bottom: 90px;
    left: 25px;
    color: whitesmoke;
    font-size: 12px;
    background-color: #78D69D;
    height:30px;
    width:120px;
    border-radius:7px;
    align-items:center;
    justify-content:center;
    justify-items:center;
    text-align:center;
    display:flex;
}
.maphong {
    position: relative;
    bottom: 88px;
    left: 25px;
    color: whitesmoke;
    font-size: 17px;
}
.loaiphong {
    position: absolute;
    bottom: 95px;
    left: 40px;
    color: whitesmoke;
    font-size: 14px;
}
.title_giatheogio {
    position: absolute;
    left:0;
    font-weight:700;
}
.content_giatheogio {
    
}

.gia_theo_gio_div {
    font-size: 11px;
    height: 20px;
    border-bottom: 1px solid grey;
    position: relative;
    top: -25px;
   
    width: 87%;
    justify-content: right;
    display:flex;
    margin-left:13px;

}
.gia_theo_ngay_div {
    font-size: 11px;
    height: 20px;
    position: relative;
    top: -20px;
    margin-left: 15px;
    justify-content: right;
    display: flex;
}
.title_giatheongay {
    position: absolute;
    left: -2px;
    font-weight: 700;
}
.content_giatheongay {
    position:absolute;
    right:15px;
}
.icon_3cham {
    position: absolute;
    bottom: 295px;
    left: 170px;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
    border-radius:50px;
    color:white;
}
.btn_threedot {
    border: 0;
    background-color: none;
    background-color: rgb(89, 82, 79,0.3);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color:white;
}








/* Popup */
.popup-kh {
    display: flex;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.popup {
    display: none;
   
/*    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);*/
    padding: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 999;
    max-width: 80%; /* Giới hạn chiều rộng tối đa */
    width: auto;
    max-height: 80vh; /* Giới hạn chiều cao tối đa */
    overflow-y: auto; /* Cuộn nếu nội dung vượt quá chiều cao tối đa */
}

    .popup input,
    .popup select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .popup i {
        cursor: pointer;
    }

        .popup i:hover {
            color: blue;
        }

        .popup i.fa-times {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

#searchBar {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

    #searchBar i {
        padding: 10px;
        cursor: pointer;
    }

    #searchBar input {
        border: none;
        outline: none;
        padding: 10px;
        margin: 0 10px 0 0;
        flex: 1;
        border-radius: 8px;
    }

.popup-overlay {
    display: none;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 64, 64, 0.5);
    justify-content: center;
    align-items: center;

}

.popup-content {
    width: 100%;
    margin-left:10%;
    max-width: 80vw; /* Giới hạn chiều rộng tối đa */
    background-color: white;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.close-icon {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.popup button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .popup {
        width: 80%;
    }

        .popup input,
        .popup select {
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border-radius: 8px;
        }

        .popup i.fa-times {
            top: 5px;
            right: 5px;
        }
}
