body {
    background-color: #F6F6F6;
}
.container {
    max-width: 100%; /* Đảm bảo .container không vượt quá chiều rộng của màn hình */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.room {
    margin-top: 10px;
    height: 19rem;
    width: 225px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #FFFFFF;
}
.image_room {
    width: 93%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items:center;
    margin-left:8px;
}
.trangthai {
    position: relative;
    bottom: 90px;
    left: 25px;
    color: whitesmoke;
    font-size: 12px;
    background-color: #78D69D;
    height:30px;
    width:120px;
    border-radius:7px;
    align-items:center;
    justify-content:center;
    justify-items:center;
    text-align:center;
    display:flex;
}
.maphong {
    position: relative;
    bottom: 88px;
    left: 25px;
    color: whitesmoke;
    font-size: 17px;
}
.loaiphong {
    position: absolute;
    bottom: 95px;
    left: 40px;
    color: whitesmoke;
    font-size: 14px;
}
.title_giatheogio {
    position: absolute;
    left:0;
    font-weight:700;
}
.content_giatheogio {
    
}

.gia_theo_gio_div {
    font-size: 11px;
    height: 20px;
    border-bottom: 1px solid grey;
    position: relative;
    top: -25px;
   
    width: 87%;
    justify-content: right;
    display:flex;
    margin-left:13px;

}
.gia_theo_ngay_div {
    font-size: 11px;
    height: 20px;
    position: relative;
    top: -20px;
    margin-left: 15px;
    justify-content: right;
    display: flex;
}
.title_giatheongay {
    position: absolute;
    left: -2px;
    font-weight: 700;
}
.content_giatheongay {
    position:absolute;
    right:15px;
}
.icon_3cham {
    position: absolute;
    bottom: 295px;
    left: 170px;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
    border-radius:50px;
    color:white;
}
.btn_threedot {
    border: 0;
    background-color: none;
    background-color: rgb(89, 82, 79,0.3);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color:white;
}
