@using System.Security.Claims;
<style>
	.card-body {
		display: block;
		margin-left: auto;
		margin-right: auto;
		/* Thêm các thuộc tính khác nếu cần */
	}

	.chu {
		font-weight: bold; /* In đậm */
		text-align: center; /* Căn đều ở giữa */
	}

</style>
<main>
	<ul class="box-info">
		<li>
			<i class='bx bxs-dollar-circle'></i>
			<span class="text">
				<h4 id="TongThuNhap"></h4>
				<p>Tổng thu nhập</p>
			</span>
		</li>
		<li>
			<i class='bx bxs-group'></i>
			<span class="text">
				<h4 id="SoLuongKhachHang">2834</h4>
				<p>Khách hàng</p>
			</span>
		</li>
		<li>
			<i class='bx bxs-calendar-check'></i>
			<span class="text">
				<h3>43</h3>
				<p>Phòng đã thuê</p>
			</span>
		</li>
	</ul>
	<div class="table-data">

		<div class="order">
			<div class="head">
				<h3>Tổng quan thu nhập</h3>
			</div>
			<hr>
			<div class="col-xl-7 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myAreaChart"></canvas>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="todo">
			<div class="head">
				<h3>Tình trạng phòng</h3>
			</div>
			<div class="col-xl-7 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Body -->
					<div class="card-body" style="width: 350px;">

						<div class="chart-pie pt-4 pb-2">
							<canvas id="myPieChart" class="pieChart"></canvas>
						</div>
						<div class="mt-4 text-center small" style="font-size:1em">
							<span class="mr-2">
								<i class="fas fa-circle text-primary"></i>Phòng trống(<span id="phongTrong"></span>)
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-success"></i> Đang thuê(<span id="phongDaDat"> </span>
								)
							</span>

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Tổng quan dịch vụ</h3>
			</div>
			<hr>
			<div class="col-xl-7 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myAreaChartDichVu"></canvas>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="order">
			<div class="head">
				<h3>Tổng quan loại phòng</h3>
			</div>
			<hr>
			<div class="col-xl-7 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myPieChartLoaiPhong"></canvas>
						</div>
					</div>
				</div>
			</div>



		</div>
		<div class="table-data">
			<div class="order">
				<div class="head">
					<h3>Tổng quan khách hàng</h3>
				</div>
				<hr>
				<div class="col-xl-7 col-lg-7">
					<div class="card shadow mb-4">
						<!-- Card Body -->
						<div class="card-body" style="width: 350px;">
							<div class="chart-area">
								<canvas id="myPieChartKhachHang" class="pieChart"></canvas>
								<div class="mt-4 text-center small" style="font-size:1em">
									<span class="mr-2">
										<i class="fas fa-circle text-primary"></i>Nam(<span id="KhachHangNam"></span>)
									</span>
									<span class="mr-2">
										<i class="fas fa-circle text-success"></i> Nữ(<span id="KhachHangNu"></span>)
									</span>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="order">
				<div class="head">
					<h3>Tổng quan nhân viên</h3>
				</div>
				<hr>
				<div class="col-xl-7 col-lg-7">
					<div class="card shadow mb-4">
						<!-- Card Body -->
						<div class="card-body" style="width: 350px;">
							<div class="chart-area">
								<canvas id="myPieChartNhanVien" class="pieChart"></canvas>
								<div class="mt-4 text-center small" style="font-size:1em">
									<span class="mr-2">
										<i class="fas fa-circle text-primary"></i>Nam(<span id="NhanVienNam"></span>)
									</span>
									<span class="mr-2">
										<i class="fas fa-circle text-success"></i> Nữ(<span id="NhanVienNu"></span>)
									</span>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	fetch('/Home/LaySoLuongKhachHang', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		}
	})
		.then(response => response.json())
		.then(data => {
			// Lưu số lượng khách hàng vào biến
			var soluongkhachhang = data.soluongkhachahng;

			// Hiển thị số lượng khách hàng
			document.getElementById('SoLuongKhachHang').textContent = soluongkhachhang;
		})
		.catch(error => console.error('Có lỗi xảy ra:', error));

</script>
<script>


	fetch('/Home/LayDoanhThuTheoThang')
		.then(response => response.json())
		.then(doanhThuTheoThang => {
			// Tạo một mảng để lưu trữ tổng thu nhập cho mỗi tháng
			var tongThuNhap = new Array(12).fill(0);
			for (var i = 0; i < doanhThuTheoThang.length; i++) {
				// Lưu ý rằng chỉ số của mảng bắt đầu từ 0
				tongThuNhap[i] = doanhThuTheoThang[i];
				console.log(i);
				console.log(tongThuNhap[i]);
			}
			// Bây giờ bạn có thể sử dụng tongThuNhap cho dữ liệu của biểu đồ
			var areaChartData = {
				labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
				datasets: [{
					label: 'Tổng thu nhập',
					data: tongThuNhap,
					backgroundColor: 'rgba(75, 192, 192, 0.2)',
					borderColor: 'rgba(75, 192, 192, 1)',
					borderWidth: 1
				}]
			};

			var areaChartCanvas = document.getElementById('myAreaChart').getContext('2d');
			var areaChart = new Chart(areaChartCanvas, {
				type: 'line',
				data: areaChartData,
				options: {
					scales: {
						x: {
							beginAtZero: true
						},
						y: {
							beginAtZero: true
						}
					}
				}
			});
		});


</script>
<script>
	fetch('/Home/LayTinhTrangPhong', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
	})
		.then(response => response.json())
		.then(data => {
			// data chính là đối tượng JSON mà bạn trả về từ hàm LayTinhTrangPhong
			var PhongTrong = data.PhongTrong;
			var phongDaDat = data.phongDaDat;
			document.getElementById('phongDaDat').innerText = data.phongDaDat;
			document.getElementById('phongTrong').innerText = data.PhongTrong;
			// Cập nhật biểu đồ của bạn ở đây
			// Ví dụ:
			var ctx = document.getElementById('myPieChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ['Phòng Trống', 'Phòng Đã Đặt'],
					datasets: [{
						data: [PhongTrong, phongDaDat],
						backgroundColor: [
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)'
						],
						borderColor: [
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					responsive: true,
					maintainAspectRatio: false
				}
			});
		})
		.catch((error) => {
			console.error('Error:', error);
		});


</script>

<script>


	fetch('/Home/GetServiceDetails', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		}
	})
		.then(response => response.json())
		.then(data => {
			// Tạo mảng cho tên dịch vụ, tổng số lượng và tổng tiền
			let tenDichVu = [];
			let tongSoLuong = [];
			let tongTien = [];

			// Đưa dữ liệu vào các mảng
			data.forEach((item) => {
				tenDichVu.push(item.tenDichVu);
				tongSoLuong.push(item.tongSoLuong);
				tongTien.push(item.tongTien);
			});

			// Tạo biểu đồ cột
			var ctx = document.getElementById('myAreaChartDichVu').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: tenDichVu,
					datasets: [{
						label: 'Tổng số lượng',
						data: tongSoLuong,
						backgroundColor: 'rgba(75, 192, 192, 0.2)',
						borderColor: 'rgba(75, 192, 192, 1)',
						borderWidth: 1
					},
					{
						label: 'Tổng tiền',
						data: tongTien,
						backgroundColor: 'rgba(153, 102, 255, 0.2)',
						borderColor: 'rgba(153, 102, 255, 1)',
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
		})
		.catch(error => console.log('Có lỗi xảy ra: ', error));




</script>
<script>
	fetch('/Home/LayLoaiPhong', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		}
	})
		.then(response => response.json())
		.then(data => {
			// Tạo mảng cho tên loại phòng, tổng số lượng và tổng tiền
			let tenLoaiPhong = [];
			let tongTien = [];
			let soLuong = [];

			// Đưa dữ liệu vào các mảng
			data.forEach((item) => {
				tenLoaiPhong.push(item.tenLoaiPhong);
				tongTien.push(item.tongTien);
				soLuong.push(item.soLuong); // Thêm dòng này
			});

			// Tạo biểu đồ cột
			var ctx = document.getElementById('myPieChartLoaiPhong').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: tenLoaiPhong,
					datasets: [{
						label: 'Tổng tiền',
						data: tongTien,
						backgroundColor: 'rgba(75, 192, 192, 0.2)',
						borderColor: 'rgba(75, 192, 192, 1)',
						borderWidth: 1
					},
					{
						label: 'Số lượng', // Tên của cột mới
						data: soLuong, // Dữ liệu của cột mới
						backgroundColor: 'rgba(255, 99, 132, 0.2)', // Màu nền của cột mới
						borderColor: 'rgba(255, 99, 132, 1)', // Màu viền của cột mới
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
		})
		.catch(error => console.log('Có lỗi xảy ra: ', error));


</script>
<script>
	fetch('/Home/DemNhanVienHoatDong', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		}
	})
		.then(response => response.json())
		.then(data => {
			// Tạo mảng cho giới tính và số lượng
			let gioiTinh = ['Nam', 'Nữ'];
			let soLuong = [data.nhanVienNam, data.nhanVienNu];
			document.getElementById('NhanVienNam').innerText = data.nhanVienNam;
			document.getElementById('NhanVienNu').innerText = data.nhanVienNu;
			// Tạo biểu đồ hình tròn
			var ctx = document.getElementById('myPieChartNhanVien').getContext('2d');
			var myPieChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: gioiTinh,
					datasets: [{
						data: soLuong,
						backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
						borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
						borderWidth: 1
					}]
				}
			});
		})
		.catch(error => console.log('Có lỗi xảy ra: ', error));

</script>
<script>
	fetch('/Home/LayGioiTinhKhachHang', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		}
	})
		.then(response => response.json())
		.then(data => {
			// Tạo mảng cho giới tính và số lượng
			let gioiTinh = ['Nam', 'Nữ'];
			let soLuong = [data.khachHangNam, data.khachHangNu];
			document.getElementById('KhachHangNam').innerText = data.khachHangNam;
			document.getElementById('KhachHangNu').innerText = data.khachHangNu;
			// Tạo biểu đồ hình tròn
			var ctx = document.getElementById('myPieChartKhachHang').getContext('2d');
			var myPieChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: gioiTinh,
					datasets: [{
						data: soLuong,
						backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
						borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
						borderWidth: 1
					}]
				}
			});
		})
		.catch(error => console.log('Có lỗi xảy ra: ', error));


</script>