@using System.Security.Claims;
<main>
	<ul class="box-info">
		<li>
			<i class='bx bxs-dollar-circle'></i>
			<span class="text">
				<h3>$1020</h3>
				<p>Tổng thu nhập</p>
			</span>
		</li>
		<li>
			<i class='bx bxs-group'></i>
			<span class="text">
				<h3>2834</h3>
				<p>Khách hàng</p>
			</span>
		</li>
		<li>
			<i class='bx bxs-calendar-check'></i>
			<span class="text">
				<h3>43</h3>
				<p>Phòng đã thuê</p>
			</span>
		</li>
	</ul>

	<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Tổng quan thu nhập</h3>
			</div>
			<hr>
			<p>Biểu đồ</p>
		</div>
		<div class="todo">
			<div class="head">
				<h3>Tình trạng phòng</h3>
			</div>
			<hr>
			<p>Biểu đồ</p>

		</div>
	</div>
</main>
