@using System.Security.Claims;
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var userName = User.FindFirst(ClaimTypes.UserData)?.Value;
    ViewData["Title"] = "Lịch sử hoạt động";
}
@if (User.Identity.IsAuthenticated && userRole != "Quản lý" && User.Identity.IsAuthenticated && userRole != "Nhân viên")
{
    Layout = null;
    <partial name="../Shared/404Error.cshtml" />
    return;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <title>Booking Information</title>
</head>
<body>
<section>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Tổng quan</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lịch sử hoạt động</li>
    </ol>
</section>

<table>
        <tr>
            <th>#</th>
            <th>Mã lịch sử</th>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Số điện thoại</th>
            <th>Chức năng sử dụng</th>
            <th>Nội dung</th>
            <th>Thời gian</th>
    </tr    >
        <tr>
            <td>1</td>
            <td>LS001</td>
            <td>NV0001</td>
            <td>Nguyễn Văn A</td>
            <td>0123123123</td>
            <td>Thêm mới khách hàng</td>
            <td>Thêm thêm khách hàng Nguyễn thị B</td>
            <td>2023/12/12 12:00 AM</td>
     </tr   >
        <tr>
            <td>2</td>
             
            <td>LS002</td>
            <td>NV0001</td>
            <td>Nguyễn Văn A</td>
            <td>0123123123</td>
            <td>Đặt phòng: P001-Phòng đơn</td>
            <td>Đặt phòng cho Nguyễn Thị B</td>
            <td>2023/12/12 13:00 AM</td>
        </tr>
        

</ta
</body>
</html>
